<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987643366374-3h71r8rfl6390tulrrvbmd9n6chm0l46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987643366374-3h71r8rfl6390tulrrvbmd9n6chm0l46</string>
	<key>API_KEY</key>
	<string>AIzaSyCxjZlvAD8zwNbEITSaqciXqVHEIMrjeRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>987643366374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rnquizapp</string>
	<key>PROJECT_ID</key>
	<string>rnquizapp-98a71</string>
	<key>STORAGE_BUCKET</key>
	<string>rnquizapp-98a71.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987643366374:ios:616eabf4b7e7a43ddee427</string>
</dict>
</plist>